.excerpt {
  padding: 20px 0;
  position: relative;

  &:first-child {
    padding-top: 0;
  }
}

.excerpt__title {
  font-size: var(--h6);
  margin: 0;

  @media only screen and (min-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}


.excerpt__date {
  display: block;
  font-size: var(--small);
  font-weight: 400;
  margin: 0;

  @media only screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

.excerpt__link {
  display: inline-block;
  margin: 10px 0;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.excerpt__link::before {
  content: '';
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
