@import 'mixins';
@import 'transitions';

html {
	font-size: calc(8px + 0.75vw);
}

body {
	background: var(--color-middle);
	color: var(--color-text);
	font-family: var(--font-family-body);
	font-weight: 300;
	line-height: 1.45;
	padding: 0;
	margin: 0;
}

strong {
	font-weight: 700;
}

p {
	margin: 0 0 calc(16px + 0.75vw);
	-webkit-font-smoothing: antialiased;
}

.lead {
	font-size: var(--font-size-lead);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading);
	font-family: var(--font-family-heading);
	font-weight: 900;
	letter-spacing: 0.025em;
	line-height: 1.2;
	text-transform: uppercase;

	&.jumbo {
		font-size: 4rem;
		line-height: 1em;
	}
}

h1 {
	font-size: var(--font-size-1);
}

h2 {
	font-size: var(--font-size-2);
}

h3 {
	font-size: var(--font-size-3);
}

h4 {
	font-size: var(--font-size-4);
}

h5,
h6 {
	font-size: var(--font-size-5);
}

h4,
h6 {
	font-weight: 200;
}

.subtitle {
	font-size: var(--font-size-6);
	text-transform: uppercase;
}

a {
	color: var(--color-link);
	font-weight: 700;
	position: relative;
	text-decoration: underline;
	@include transition( 'color' );

	&:focus,
	&:hover {
		color: var(--color-invert);
	}
}

ul,
ol {
	padding-left: 40px;
	margin-left: 40px;
}

ol {
	list-style: none;
	counter-reset: ordered-list;

	li {
		counter-increment: ordered-list;
		padding-left: 10px;
		position: relative;

		&::before {
			content: counter(ordered-list) ".";
			font-family: novecento-sans-wide, sans-serif;
			font-weight: 800;
			position: absolute;
			right: 100%;
		}
	}
}

hr {
	background: var(--color-back);
	border: 0;
	height: 4px;
	margin: 20px 0;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.alignright {
	float: right;
	margin: 0 0 16px 16px;
}

.back {
	background-color: var(--color-back);
}

.middle {
	background-color: var(--color-middle);
}

.top {
	background-color: var(--color-top);
}
