@import 'transitions';

.fadeInUp-enter {
	opacity: 0;
	transform: translateY(40px);
}

.fadeInUp-enter-active,
.fadeInUp-enter-done {
	opacity: 1;
	transform: translateY(0);
	transition: opacity #{$speed} #{$timing}, transform #{$speed} #{$timing};
	will-change: opacity, transform;
}

.fadeInUp-exit {
	opacity: 1;
	transform: translateY(0);
}

.fadeInUp-exit-active,
.fadeInUp-exit-done {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity #{$speed} #{$timing}, transform #{$speed} #{$timing};
	will-change: opacity, transform;
}
