.header {
	background: var(--color-back);
	margin: 0 auto;
	padding: 1.45rem 1.0875rem;

	a {
		color: var(--color-primary);
		text-decoration: none;
	}

	.site-title {
		display: inline-block;
		line-height: 1;
		margin: 0;

		a::before {
			display: none;
		}
	}


	.site-logo {
		max-width: 200px;
	}

	.container {
		display: flex;
		align-items: center;
	}
}
