@import 'breakpoints';
@import 'transitions';

@each $bp, $size in $breakpoints {
	.container {
		@media only screen and (min-width: $size) {
			margin: 0 auto;
			max-width: calc(#{$size} - 40px);
			width: 100%;
		}
	}
}
