.hero--article .jumbo {
	margin-bottom: 0;
}

.post-wrap {

}

.post-body {
	border: 2px solid var(--color-back);
	font-size: var(--font-size-lead);
	margin-top: 32px;
}

.post-meta,
.post-meta__box {
	align-items: flex-start;
	display: flex;
}

.post-meta__box {
	align-items: center;
}

.post-meta__box__list,
.post-meta__box__title {
	margin: 0;
}

.post-meta__box__list {
	display: inline-flex;
	list-style-type: none;

	li {
		margin-right: 8px;
	}
}
