.layout {
  align-items: stretch;
  display: grid;
  grid-template-columns: minmax(400px, 0.5fr) 1fr;
  height: 100vh;
  overflow: hidden;
}

.layout__meta,
.layout__content {
  padding: 80px;
}

.layout__meta {
  background: var(--base);
  color: var(--gary-2);
}

.layout__content {
  overflow-y: scroll;

  & > * {
    max-width: 700px;
  }
}
