@import 'transitions';
@import 'values';

.post-title {
	margin: 0 auto 10%;
	max-width: 1600px;
}

.post-wrap {
	align-items: start;
	display: grid;
	grid-template-columns: 500px 1fr;
	grid-gap: 40px;
}

.post-body {
	font-size: var(--font-size-lead);
	max-width: 1200px;
}

.post-meta {
	background: var(--color-top);
	border: 2px solid var(--color-back);
	box-shadow: #{$boxShadow};
	border-radius: 4px;

	> * {
		margin: 0 10% 10%;
	}
}

.categories {
	list-style: none;
	font-weight: 300;
	margin: 0;
	padding: 0;
	text-transform: uppercase;

	a {
		background: transparent;
		border-bottom: 0;
		display: block;
		font-weight: 300;
		padding: 4% 10%;
		position: relative;
		transition: all #{$speed} #{$timing};
		z-index: 1;

		&:focus,
		&:hover {
			color: #fff;
			padding-left: 16%;

			&::before {
				width: 100%;
			}
		}

		&::before {
			background: var(--color-primary);
			content: "";
			display: block;
			height: 100%;
			left: 0;
			transition: width #{$speed} #{$timing};
			opacity: 1;
			position: absolute;
			top: 0;
			width: 4px;
			z-index: -1;
		}
	}
}
