.header {
	background: var(--color-back);
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 1.45rem 1.0875rem;

	a {
		color: var(--color-primary);
		text-decoration: none;
	}

	.site-title {
		font-family: novecento-sans-wide, sans-serif;
		font-size: 24px;
		margin: 0 20px 0 0;
		line-height: 1.2;
		letter-spacing: .125em;
		text-transform: uppercase;

		a::before {
			display: none;
		}
	}
}
